body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;

}


header {
    position: sticky;
    background-image: url('../img/drewno6.jpg') !important;
    top: -20%;
    z-index: 1;
    overflow: hidden;
}

header a img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.nav-item a {
    color: #FF2600 !important;
    font-size: 20px;
    font-family: titillium;
    text-transform: uppercase;
    text-align: baseline;
}

.navbar-text-center {
    margin: auto;
}

@font-face {

    font-family: titillium;
    src: url(titillium.ttf);
}

/* BANER */
main {
    height: calc(100vh - 180px);
    position: relative;
    overflow: hidden;
    z-index: -1;
}

main img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    animation: slider 10s infinite linear;
}

img:nth-child(2) {
    animation-delay: 5s;
}

main h1 {
    text-shadow: 0 0 45px #000;
    position: absolute;
    font-size: 60px;
    font-family: 'open sans', sans-serif;
    color: white;
    padding: 10px 40px;
    animation: txt 10s infinite linear;
    opacity: 0;
}

main h1:nth-of-type(1) {
    top: 10%;
    left: 3%;
}

main h1:nth-of-type(2) {
    bottom: 5%;
    left: 5%;
    animation-delay: 5s;
}

@keyframes slider {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes txt {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ABOUT */
section {
    position: relative;
    width: 100%;
    height: calc(100vh - 300px);
    padding-top: 30px;
    background-color: rgb(245, 245, 245);

}

section h1 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 40px;
}

section h2 {
    font-family: Lato;
    font-size: 30px;
    line-height: 30px;
    color: #424242;
    text-align: center;

}

section p {
    font-family: Lato;
    font-size: 30px;
    line-height: 30px;
    color: #424242;
    text-align: center;
    margin-bottom: 40px;
}

section button {
    font-family: "Playfair Display", serif;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    width: 210px;
    height: 70px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    text-transform: uppercase;
    animation: shakes 5s linear infinite;
    line-height: 50px;

}

@keyframes shakes {
    0% {
        transform: translateX(0)
    }

    90% {
        transform: translateX(0)
    }

    91% {
        transform: translateX(20px)
    }

    92% {
        transform: translateX(-20px)
    }

    93% {
        transform: translateX(20px)
    }

    94% {
        transform: translateX(-20px)
    }

    95% {
        transform: translateX(20px)
    }

    96% {
        transform: translateX(-20px)
    }

    97% {
        transform: translateX(20px)
    }

    98% {
        transform: translateX(-20px)
    }

    99% {
        transform: translateX(20px)
    }

    100% {
        transform: translateX(-20px)
    }
}


/* MIN-BANER */
.menu {
    width: 100%;
    height: auto;
    background-color: #1a0d06;
    color: white;
    text-align: center;
    padding-top: 30px;

}

.col-sm {
    width: 100%;
    height: auto;
    border-left: 1px solid dimgray;
    margin-bottom: 1px;
}

.col-sm:nth-child(1) {
    border-left: 0px solid white;
}

.col-sm i {
    position: relative;
    font-size: 40px;
    margin-bottom: 40px;
}

.col-sm i::after {
    content: "";
    bottom: -30px;
    left: 25%;
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;

}

.col-sm i:hover::after {
    left: -25px;
    width: 200%;
    transition: .5s linear;
}

.col-sm h2 {
    font-size: 30px;
    color: white;
    font-family: "Playfair Display", serif;
    margin-bottom: 30px;
}


.col-sm a {
    text-decoration: none;
    font-family: Lato;
    color: white;
    font-size: 25px;
}

.col-sm a:hover {
    text-decoration: none;
    color: white;
}

/* MAP */
.map {
    padding-top: 0px;
    background-color: red;
    width: 100%;
    height: 100%px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 640px) {
    section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: 30px;
        background-color: rgb(245, 245, 245);

    }

    section h2 {
        font-size: 30px;
    }

    section p {
        font-size: 30px;
        margin-bottom: 10px;
    }

    section button {
        width: 180px;
        height: 60px;
        font-size: 15px;
    }

    main {
        height: 50vh;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }
}


@media only screen and (min-width: 641px) and (max-width: 1280px) {
    header {
        top: -20%;
    }

    section h2 {
        font-size: 13px;
        margin-top: -30px;
    }

    section p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    section button {

        width: 210px;
        margin-top: 5px;
        font-size: 20px;

    }

    .col-sm h2 {
        margin-top: -20px;
        font-size: 20px;
        margin-bottom: 1px;
    }

    main {
        height: 100vh;
        position: relative;
        overflow: hidden;
        z-index: -1;
    }

}